<a href="https://colab.research.google.com/github/wahyuwaryani/Algoritma-Phyton/blob/main/P8_Wahyuwaryani___AGB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNDAMENTAL ARRAY**

In [2]:
arr = [10, 20, 30, 40]
print(arr)

[10, 20, 30, 40]

In [4]:
list_numbers = [1, 2, 3, 4, 5]
print(list_numbers)

[1, 2, 3, 4, 5]

In [6]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100
print(list_numbers[0])

100

**MENDEKLARASIKAN ARRAY**

In [8]:
arr = [1, 2, 3, 4, 5]
arr

[1, 2, 3, 4, 5]

In [9]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda
data

[1, 2, 3, 'hello', 5.5]

In [7]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0
arr

[0, 0, 0, 0, 0]

In [ ]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

**PEMROSESAN SEKUENSIAL ARRAY**

In [ ]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [ ]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

In [28]:
arr = [30,45,10,20,12,7,19,13,17,2,10,27,5,29]

nilai_maks = max(arr)
print("jadi nilai maksimun adalah:", nilai_maks)

nilai_min = min(arr)
print("jadi nilai minimun adalah:", nilai_min)

penjumlahan = sum(arr)
print("jadi total penjumlahan seluruh elemen:", penjumlahan)

jumlah_arr = len(arr)
print("jadi total jumlah seluruh elemen:", jumlah_arr)

rata_rata = penjumlahan/jumlah_arr
print("rata rata seluruh elemen:", rata_rata)

jadi nilai maksimun adalah: 45
jadi nilai minimun adalah: 2
jadi total penjumlahan seluruh elemen: 246
jadi total jumlah seluruh elemen: 14
rata rata seluruh elemen: 17.571428571428573

In [26]:
# Soal 2 dengan bu Sevinurafni
T1 = [9, 12, 30, -1, 0, 4, -1, 3, 30, 14]
nilai_terbesar = max(T1)
print ("nilai terbesar dari T1 adalah", nilai_terbesar)

nilai_terkecil = min(T1)
print ("nilai terkecil dari T1 adalah", nilai_terkecil)

T2 = [1, 3, 5, 8, -12, 90, 3, 5]
nilai_terbesar = max(T2)
print ("nilai terbesar dari T2 adalah", nilai_terbesar)

nilai_terkecil = min(T2)
print ("nilai terkecil dari T2 adalah", nilai_terkecil)

nilai terbesar dari T1 adalah 30
nilai terkecil dari T1 adalah -1
nilai terbesar dari T2 adalah 90
nilai terkecil dari T2 adalah -12

In [27]:
# Soal 1 dengan bu Sevinurafni
S = [4,1,-1,10,0,12]

D = int(input("Masukan nilai D"))

S = [x * D for x in S]
print ("array setelah dikalikan dengan D", S)

Masukan nilai D2
array setelah dikalikan dengan D [8, 2, -2, 20, 0, 24]